<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Filminhos.NET.Properties.Settings.DatabaseConnection"
            connectionString="Server=localHost;port=3306;Database=movies;User Id=root;Password=root" />
    </connectionStrings>
</configuration>